@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

/* --------------------------------------------- 

* Filename:     style.css
* Version:      1.0.0 (2015-03-01)
* Website:      http://www.zymphonies.com
                http://www.freebiezz.com
* Description:  System Styles
* Author:       Zymphonies Dev Team
                info@zymphonies.com

-----------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clear:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

* html .clear {
  height: 1%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  line-height: 1.7;
}

a {
  color: #289DCC;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #666;
}

li a:hover {
  text-decoration: none;
  color: #666;
  background: #0c9cd0 none repeat scroll 0 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin-bottom: 8px;
  color: #289DCC;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 13px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 13px;
}

p {
  margin-bottom: 15px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 15px;
  width: 100%;
}

th, tr, td {
  vertical-align: middle;
}

.sticky-header th,
.sticky-table th {
  border-bottom: 3px solid #ccc;
  padding-right: 1em;
  text-align: left;
}

table {
  background: #ececec;
  border: 1px solid #bbbbbb;
}

th {
  background: #2E3D4A;
  border-right: 1px solid #c8c7c7;
  color: #fff;
  padding: 10px;
  font-weight: bold;
}

 td {
  background: #FFF;
  color: #747474;
  text-align: left;
  padding: 10px;
  border: 1px solid #DBDBDB;
}
 
code {
  background: rgb(250, 250, 250);
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbbbbb;
  display: block;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

mark {
  background-color: #fdfc9b;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

hr {
  border: none;
  border-top: #EEE 1px solid;
}

dt {
  font-weight: bold;
  margin-bottom: 24px;
}

dd {
  margin-left: 30px;
  margin-bottom: 24px;
}

ul {
  list-style-type: disc;
  margin-left: 25px;
  margin-bottom: 12px;
}

ul ul {
  list-style-type: square;
  margin-bottom: 0;
}

ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
  margin-left: 30px;
  margin-bottom: 24px;
}

ol ol {
  list-style: upper-alpha;
  margin-bottom: 0;
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: lower-alpha;
}

abbr,
acronym {
  border-bottom: #999 1px dotted;
  cursor: help;
}

big {
  font-size: 1.3em;
}

cite,
em {
  font-style: italic;
}

ins {
  background-color: #fdfc9b;
  text-decoration: none;
}

pre {
  background: #d8d8d8;
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbbbbb;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

blockquote, q {
  quotes: none;
  border: 1px solid rgb(226, 220, 220);
  background: rgb(250, 247, 247) url(../images/quote.png) no-repeat;
  padding: 10px 5px 5px 47px;
  text-shadow: 1px 1px #fff;
  margin: 5px 0;
  border-radius: 7px;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

sup,
sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
  font-size: 10px;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

img,
video {
  max-width: 100%;
  height: auto;
}

video {
  display: block;
}

audio {
  max-width: 100%;
}

b {
  font-weight: bold;
  color: #333;
}

#page-wrap {
  /*max-width: 1024px;*/
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
}

#header_wrapper {
  position: relative;
  z-index: 9;
}

.not-front #footer {
  margin-top: 20px;
}

#header {
  max-width: 1200px;
  margin: 0 auto;
}

.top_left {
  float: left;
  margin: 14px 0;
}

.top_right {
  float: right;
  margin: 22px 0;
}

#logo {
  float: left;
  margin: 0px 10px 0px 0;
}

#logo img {
  display: block;
  padding-top: 20px;
}

#site-title,
#site-description {
  float: left;
}

#site-title {
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
  line-height: 112%;
}

#site-title a {
  float: left;
  font-weight: normal;
}

#site-description {
  margin: 0;
  float: left;
  clear: both;
  color: #888;
  font-size: 13px;
  line-height: 120%;
  font-weight: normal;
}

.menu_wrapper {
  width: 100%;
}

.menu-wrap {
  border-bottom: 0px solid #eee;
  background: #0194ca none repeat scroll 0 0
}

#main-menu {
  position: relative;
  float: left;
}

#main-menu ul {
  float: left;
  padding: 0;
  margin: 0;
}

#main-menu li {
  position: relative;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  float: left;
}

#main-menu a {
  padding: 12px 20px;
  display: block;
  text-decoration: none;
  color: #fff;
  line-height: 100%;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
}

#main-menu li a.active{
  background: #0194ca;
  border-bottom: 2px solid #eee;
}

#main-menu li:hover >a {
  color: #ffffff;
  border-bottom: px solid #525252;
}

#main-menu ul li:first-child {
  padding-left: 0;
}

ul.menu {
  padding: 0;
  margin: 5px 0 5px 0;
}

.region ul.menu li, 
.region ul.links li, 
.region .item-list ul li {
  list-style: none outside none;
  margin: 0 0 2px;
  padding: 10px 0 10px 15px;
  text-align: left;
  background: rgba(119, 143, 161, 0.2) none repeat scroll 0 0;
}

.drop-down-toggle {
  position: absolute;
  top: 8px;
  right: 16px;
  display: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgb(73, 71, 71);
  border: rgb(170, 170, 170) 2px solid;
}

.drop-down-arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 10px 0 0 4px;
  border-top: 10px solid #aaa;
  border-left: transparent 10px solid;
  border-right: transparent 10px solid;
}

#main-menu li li {
  float: none;
  min-width: 150px;
  padding: 0;
  margin: 0;
  position: relative;
}

#main-menu li ul ul {
  left: 158px;
  top: 0;
}

#main-menu li li a {
  min-width: 150px;
  margin: 0;
  border-bottom: 1px solid #A6A6A6;
  text-align: left;
  overflow: hidden;
  padding: 15px 15px;
  color: #DEDEDE;
}

#main-menu li > ul {
  border-top: 4px solid #666;
}

#main-menu li ul {
  display: none;
  position: absolute;
  z-index: 9999;
  padding: 0;
  margin: 0;
  background: #333333;
  overflow: visible !important;
}

#main-menu li:hover > ul,
#main-menu li li:hover > ul,
#main-menu li li li:hover > ul {
  display: block;
}

#main-menu li li.expanded >a{
  background-image: url(../images/arrow.png);
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 30px;
}

#main-menu .nav-toggle {
  display: none;
}

#main-menu ul li.leaf, 
#main-menu ul li.expanded, 
#main-menu ul li.collapsed {
  list-style: none;
}

#main-menu ul.menu li li {
  border: 0;
  margin: 0;
  width: 100%;
}

#main-menu ul.menu li li:hover >a {
  color: #fff;
  background-color: #222;
}

#main-menu li.expanded,
#main-menu li.collapsed,
#main-menu li.leaf {
  margin: 0;
  padding: 0;
}

#container {
  clear: both;
  overflow: hidden;
  padding: 10px 0;
}

.container-wrap {
  /*max-width: 1024px;*/
  max-width: 1200px
  margin: 0px auto;
  overflow: hidden;
}

.region-slideshow {
  background-size: 100%;
}

#block-nivo-slider-nivo-slider {
  margin: 0 auto;
}

#slider {
  background: transparent;
  position: relative;
  box-shadow: none;
  overflow: visible;
}

.nivo-caption {
  background: #D9F5FF;
  margin: 0;
  left: 0;
  top: 0%;
  padding: 5%;
  width: 50%;
  font-size: 16px;
  height: auto;
  line-height: 150%;
  text-align: center;
}

.nivo-caption h2 {
  padding: 10px;
  font-size: 26px;
  text-transform: uppercase;
  line-height: 100%;
}

.nivo-caption p {
  padding: 10px;
  font-size: 14px;
}

.slider-wrapper #slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.theme-default .nivo-controlNav {
  text-align: center;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
  width: 100px;
}

.theme-default .nivo-controlNav {
  padding: 5px 0 0 0;
}

.theme-default .nivo-controlNav a {
  text-indent: 9999px;
  font-size: 0;
}

.theme-default .nivo-controlNav a:hover img {
  background: #999;
}

.content-sidebar-wrap {
  float: left;
  width: 100%;
}

.content-sidebar-wrap #content {
  display: inline;
  margin-bottom: 10px;
  float: right;
  width: 100%;
}

#sidebar-first {
  float: left;
}

#sidebar-second {
  float: right;
}

aside .block {
  margin-bottom: 10px;
}

aside #user-login-form input.form-text {
  width: 100%;
}

/* 3 columns */

body.two-sidebars .content-sidebar-wrap {
  width: 70%;
}

body.two-sidebars #content {
  width: 75%;
}

body.two-sidebars #sidebar-first {
  width: 22%;
}

body.two-sidebars #sidebar-second {
  width: 28%;
}

/* 2 columns: sidebar-first */

body.sidebar-first .content-sidebar-wrap {
  width: 100%;
}

body.sidebar-first #content {
  width: 73%;
}

body.sidebar-first #sidebar-first {
  width: 24%;
}

/* 2 columns: sidebar-second */

body.sidebar-second .content-sidebar-wrap {
  width: 75%;
}

body.sidebar-second #content {
  width: 100%;
}

body.sidebar-second #sidebar-second {
  width: 22%;
}

.breadcrumb {
  margin: 10px 0px;
  margin-bottom: 10px;
  border-bottom: #eee 1px solid;
}

.node {
  margin: 20px 0;
}

.node h2.title, .page-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.block {
  margin-bottom: 2%;
}

.block:last-child {
  margin: 0;
}

.block > h2 {
  padding: 10px 0;
  overflow: hidden;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.theme-default .nivo-directionNav a {
  opacity: 9 !important;
  top: 0;
  right: 31px;
  left: auto;
  opacity: .5 !important;
  background: url(../images/slider-arrow.png) #FFF -12px 44px;
}

.theme-default .nivo-directionNav a:hover {
  opacity: 1 !important;
}

.nivo-directionNav {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 25px;
  top: auto;
  z-index: 6;
}

.theme-default .nivo-caption * {
  font-family: 'Open Sans', sans-serif;
  color: #04487B;
}

.theme-default a.nivo-prevNav:hover {
  background: url(../images/slider-arrow.png) #FFF -12px 44px;
}

.theme-default a.nivo-nextNav {
  right: 0;
  background-position: -78px 44px;
}

.theme-default a.nivo-nextNav:hover {
  background-position: -78px 44px;
}

#footer-area ul.menu li a.active {
  color: #ddd;
}

.region-front-welcome {
  max-width: 1200px;
  margin: 2% auto;
  text-align: center;
  overflow: hidden;
  line-height: 150%;
}

.region-front-welcome .block h2 {
  text-align: center;
  font-size: 22px;
}

.submitted {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: rgb(247, 247, 247);
  border: 1px solid rgb(236, 236, 236);
  border-radius: 4px;
  clear: both;
  color: rgb(56, 56, 56);
  display: inline-block;
  margin-bottom: 5px;
  padding: 2px 8px;
}

.links {
  color: #000;
  margin-top: 10px;
}

ul.links {
  margin: 0;
}

.form-submit {
  cursor: pointer;
  margin: 5px;
}

input.form-checkbox, input.form-radio {
  vertical-align: baseline;
}

.form-text {
  padding: 6px;
  max-width: 100%;
}

/*-------------------------------------------*
  Menus and item lists 
/*-------------------------------------------*/

.item-list ul {
  margin: 0;
  padding: 0;
}

ul.inline {
  clear: both;
}

/*-------------------------------------------*
  Admin Tabs
/*-------------------------------------------*/

.tabs-wrapper {
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 5px 0;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li {
  float: left;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  padding: 0 1em;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
}

ul.primary li a:hover, ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

/*-------------------------------------------*
  Tabs and Tags
/*-------------------------------------------*/

.field-name-field-tags {
  margin: 0 0 10px 0;
}

.field-name-field-tags a {
  display: inline-block;
  background: url(../images/tag.png) no-repeat;
  padding: 0px 8px 0 16px;
  height: 22px;
  text-shadow: 1px 1px #fff;
  border-radius: 2px;
  font-size: 12px;
}

.field-name-field-tags .field-item {
  margin: 0 1em 0 0;
}

.field-name-field-tags div {
  display: inline;
}

/*-------------------------------------------*
  Profile
/*-------------------------------------------*/

.profile {
  margin: 1.5385em 0;
}

.profile dd {
  margin-bottom: 1.5385em;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.password-parent {
  width: 36em;
}

/*-------------------------------------------*
  Navigation
/*-------------------------------------------*/

.item-list .pager li {
  background: #cfcfcf;
  border-radius: 3px;
  margin-right: 4px;
  text-shadow: 1px 1px #fff;
}

/*-------------------------------------------*
  Forum
/*-------------------------------------------*/

.field-name-taxonomy-forums div {
  display: inline;
  margin-top: 4px;
}

#forum .title {
  font-size: 16px;
}

#forum .submitted {
  font-size: 12px;
  background: transparent;
  padding: 0;
}

#forum .container {
  background: #a1a1a1;
  color: #fff;
}

#forum .container a {
  color: #000;
  font-weight: bold;
}

#forum div.indent {
  margin-left: 2px;
}

.forum-starter-picture {
  float: left;
  padding: 4px;
  border: 1px solid #d9d9d9;
  margin: 5px 7px 5px 0;
}

#forum th {
  background: #434343;
  text-shadow: none;
  color: #fff;
}

#forum th a {
  color: #fff;
}

#forum td.forum .icon, #forum .icon div {
  background: url(../images/no-new-posts.png) no-repeat;
  width: 35px;
  height: 35px;
}

#forum .name a {
  font-size: 16px;
}

/* -------------------------
  Images
---------------------------- */

img {
  outline: 0;
}

img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

/* -------------------------
  Comments
---------------------------- */

.comment h2.title {
  margin-bottom: 1em;
}

.comment div.user-picture img {
  margin-left: 0;
}

.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}

.comment .attribution {
  display: table-cell;
  padding: 0 10px 0 0;
  vertical-align: top;
  overflow: hidden;
  width: 17%;
}

.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}

.comment .attribution .username {
  white-space: nowrap;
}

.comment .comment-submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}

.comment .comment-submitted .comment-time {
  font-size: 0.786em;
}

.comment .comment-submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}

.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}

.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent;
  border-left: 1px solid;
  border-right: 1px solid;
  height: 40px;
  margin-left: -36px;
  margin-top: 15px;
  position: absolute;
  width: 20px;
}

.comment .comment-text {
  padding: 0 15px 10px 15px;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}

.comment .indented {
  margin-left: 40px;
}

.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}

.comment .comment-text .comment-arrow {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

/* -------------------------
  Form Elements
---------------------------- */

fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.fieldset-wrapper {
  margin-top: 25px;
}

.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}

.filter-wrapper {
  top: 0;
  padding: 1em 0 0.2em;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.filter-help a {
  font-size: 0.857em;
  padding: 2px 20px 0;
}

.filter-wrapper .form-item label {
  margin-right: 10px;
}

.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em;
}

.filter-guidelines {
  padding: 0 1.5em 0 0.5em;
}

fieldset.collapsed {
  background: transparent;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  display: block;
  height: 2em;
  left: -1px;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  top: -12px;
  width: 100%;
  -khtml-border-radius-topleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

fieldset.collapsed legend {
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

fieldset .fieldset-wrapper {
  padding: 0 10px;
}

fieldset .fieldset-description {
  margin-top: 5px;
  margin-bottom: 1em;
  line-height: 1.4;
  font-style: italic;
}

input {
  margin: 2px 0;
  padding: 4px;
}

input:focus {
  outline-color: #ECF8FC;
}

textarea.form-textarea,
select.form-select {
  padding: 4px;
}

input.form-text,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ddd;
}

.password-suggestions ul li {
  margin-left: 1.2em;
}

.form-item, .form-actions {
  margin: 10px 0;
}

.form-type-radio label, .form-type-checkbox label {
  margin-left: 4px;
}

.form-type-radio .description, .form-type-checkbox .description {
  margin-left: 2px;
}

button,
body a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  margin: 0 5px 5px 0;
  font-size: 13px;
  line-height: 13px;
  padding: 8px 15px;
  border: 1px solid #DDD;
  display: inline-block;
  background-image: linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
  background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
  background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFF 100%);
  background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
  background-color: #F9F9F9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
}

button:hover,
body a.btn:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #F9F9F9;
}

ol.search-results {
  padding-left: 0;
}

.search-results li {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 0.4285em;
  margin-bottom: 0.5em;
}

.search-results li:last-child {
  border-bottom: none;
  padding-bottom: none;
  margin-bottom: 1em;
}

.search-results .search-snippet-info {
  padding-left: 0;
}

.top_right .region-search {
  float: right;
}

.top_right .region-search input {
  display: block;
  width: 100%;
  margin: 0;
}

.top_right .region-search .form-item,
.top_right .region-search .form-actions {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.top_right .region-search .form-item {
  width: 183px;
  margin: 0;
}

.top_right .region-user-menu ul.menu {
  float: right;
}

.search_block {
  margin: 9px 0;
  overflow: hidden;
}

.top_right .region-user-menu {
  overflow: hidden;
  width: 100%;
}

.top_right ul.menu li a.active {
  color: #6CDCFF;
}

#top-area {
  padding: 10px 0;
}

#top-area .block {
  margin: 0;
}

#top-area .column {
  float: left;
  width: 33.3%;
  padding: 0 2%;
}

#top-area .column.one{
  padding-left: 0;
}

#top-area .column.three{
  padding-right: 0;
}

#top-area .column.two {
  border-width: 1px 0;
}

#footer-area {
  margin: 15px auto;
}

#footer-area .column:last-child {
  float: right;
}

#top-area .column-title {
  color: #e0e0e0;
}

#footer {
  /*background: #f7f9fa;*/
  overflow: hidden;
}

.footer_credit {
  border-top: 1px solid #eee;
}

.region-signup {
  background: #ECF8FC;
  border: 1px solid #C3EBF5;
  padding: 20px 10px;
  margin: 10px 0;
  text-align: center;
}

.region-signup p {
  margin: 0;
}

.region-signup h1 {
  margin-bottom: 15px;
}

.region-signup .btn {
  background: #97BA0C;
  border-color: #AAD20E;
  color: #fff;
  border: 0;
}

.region-signup .btn:hover {
  background: #AAD20E;
}

.footer_credit p {
  width: 50%;
  margin: 8px 0;
}

#footer-area .column {
  float: left;
  width: 25%;
  padding: 10px;
}

#footer-area .column:first-child {
  margin-left: 0;
}

.copyright {
  float: left;
}

.credits {
  float: right;
  text-align: right;
}

/*---------------------------
  Social Icons
----------------------------*/

.social-icons {
  text-align: right;
  float: right;
}

.social-icons ul {
  margin: 0;
}

.social-icons li {
  display: inline-block;
}

.social-icons li a {
  width: 30px;
  color: #888;
  padding: 7px 9px;
  display: block;
  overflow: hidden;
  background: #F9F9F9;
  border-radius: 3px;
  border: 1px solid #EEE;
  line-height: 100%;
}

.social-icons li a:hover {
  background: #fff;
  color: #999;
}

/*---------------------------
  User Menu
----------------------------*/

.region-user-menu h2 {
  display: none;
}

.region-user-menu ul li {
  display: inline-block;
  background: none;
  padding: 0 10px;
  border-right: 1px solid #636363;
  line-height: 100%;
}

.region-user-menu ul li.last {
  border: 0;
  padding-right: 0;
}

/*---------------------------
  Footer
----------------------------*/

#footer_wrapper {
  margin: 10px 0 0 0;
}

.footer_block {
  clear: both;
}

.bottom_widget #footer-area .column {
  width: 32.5%;
}

.top_widget #footer-area .column {
  width: 49.5%;
}

.page-blog article {
  padding-bottom: 20px;
  border-bottom: 1px solid #F0F0F0;
  margin-bottom: 20px;
}

.page-blog article footer {
  background: #F3F3F3;
  padding: 5px 10px;
  border: 1px solid #E7E7E7;
}

.field-name-field-tag {
  margin: 20px 0;
  overflow: hidden;
}

.field-name-field-tag .field-item {
  display: inline-block;
}

.field-name-field-tag .field-item a {
  display: block;
  background: #5183AF;
  color: #FFF;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 3px;
}

.user-menu-wrapper {
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.user-menu-wrapper * {
  font-size: 12px;
}

.user-menu-wrapper ul.menu {
  text-align: right;
  margin: 0;
  float: right;
}

.user-menu-wrapper ul.menu li {
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  background: none;
}

.user-menu-wrapper ul.menu li a {
  display: block;
  padding: 4px 8px;
}

.user-menu-wrapper ul.menu li a:hover {
  text-decoration: none;
}

.region-contactno {
  float: left;
}

.region-contactno .block {
  float: right;
}

.region-contactno h2, 
.region-contactno .content {
  float: left;
  margin: 0;
  padding: 0px;
  margin-left: 2px;
  border: 0;
}

.region-contactno h2{
  color: #666;
}

.region-contactno .content p {
  padding: 0;
  margin: 0;
}

.full-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

#footer .column li {
  display: block;
  padding: 5px 0;
}

#footer .column li:last-child {
  border: 0;
}

#footer ul {
  margin: 0;
  overflow: hidden;
}

.feature {
  text-align: center;
}

.feature .fa {
  padding: 26px;
  font-size: 58px;
  margin: 0 auto;
  border-radius: 50%;
  width: 110px;
  text-align: center;
  height: 110px;
  margin: 3% 0;
}

#user-login,
#user-pass,
#user-register-form {
  max-width: 500px;
  margin: 2% auto;
  background: white;
  padding: 2% 3%;
  border: 1px solid #DDD;
}

/*Error Style*/

div.error,
div.status,
div.warning {
  background: #FEF5F1;
  border-radius: 3px;
  border-color: #EC7F58;
  padding: 15px 20px;
}

div.status {
  background: #F8FFF0;
  border-color: #BE7;
}

div.warning {
  background-color: #FFFCE5;
  border-color: #ED5;
}

.region-clients {
  overflow: hidden;
  padding: 10px 0;
}

.region-clients ul li {
  list-style: none;
  float: left;
  width: 20%;
  text-align: center;
  padding: 1.5%;
}
/** Main Title CSS **/
#main-title-display-wrapper {
  position: relative;
  /*background-color: #778fa1;*/
  background-color: #000000;
  /*z-index: 9;*/
  height: 75px;
}

#main-title-display-wrapper h2{
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  color: #fff;
  }

#main-title-display {
  max-width: 1200px;
  margin: 0 auto;
}

.main-title-top-left {
  float: left;
  margin: 14px 0;
}

.main-title-top-right {
  float: right;
  margin: 22px 0;
}


.view .view-main-page-title-bars .view-id-main_page_title_bars .image{
	position: relative;
	width: 100%;
}

.view .view-main-page-title-bars .view-id-main_page_title_bars .h2 {
	position: absolute;
	top:2px;
	left: 0;
	width: 100%;
}
#social_icon_header_bar {
	float: right;
}

.header-function-icon {
    margin-top: -0.25rem;
    width: 25px;
}

/** Lower Footer Row **/
.footer-section-dark {
    background: #0194ca none repeat scroll 0 0;
    min-height: 40px;
}
.row-section-full {
    max-width: 100%;
}
.footer-section-full {
    clear: both;
    margin-top: -110px;
    min-height: 110px;
    position: absolute;
    width: 100%;
	}

.footer-section-light {
    background: #778fa1 none repeat scroll 0 0;
	min-height: 30px;
}
#footer-menu-display-wrapper {
  position: relative;
  /*background-color:#778fa1;*/
  background-color:#000000;
  z-index: 9;
  height: 30px;
}

#footer-menu-display {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  font-size: 14px;
}

.footer-menu-top-left {
  float: left;
  margin: 14px 0;
}

.footer-menu-top-right {
  float: right;
  margin: 22px 0;
}

#block-background-color {
    background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #d8d8d8;
    margin: 0 0 1rem;
    padding: 1.1rem;
}

.conference-headline {
    color: #24b1aa;
    font-family: ralewayregular,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 20px;
}

.conference-location {
    color: #006991;
    font-family: ralewaysemibold,ralewayregular,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 18px;
}

.conference-meeting-date {
    font-size: 16px;
    font-weight: bold;
	color: #000;
}

.header-socialmenu-top-left {
  float: left;
  padding-top: 5px;
}

.header-socialmenu-top-right {
  float: right;
  padding-top: 10px;
}

.header-socialmenu-text {
	padding-bottom: 15px;
}

.socialimage_swap img:last-child{display:none}
.socialimage_swap:hover img:first-child{display:none}
.socialimage_swap:hover img:last-child{display:inline-block}


.footer-lower-menu a {
	color: #ffffff;
}

.footer-lower-menu a:hover {
	color: #000000;
}

.view-id-conference_front_badge_page td {
  background: rgba(119, 143, 161, 0.2) none repeat scroll 0 0;
  color: #747474;
  text-align: left;
  padding: 10px;
  border: 20px solid #ffffff;
}

.view-id-conference_front_badge_page td:hover {
  background: rgba(119, 143, 161, 0.5) none repeat scroll 0 0;
 }
 
 /** Main Conference Header Bar and Title Bar CSS **/
#main-title-conference-display-wrapper {
  position: relative;
  /*background-color:#778fa1;*/
  background-color:#000000;
  /*z-index: 9;*/
  height: 110px;
}

#main-title-conference-display-wrapper h2{
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  color: #fff;
  }
  
#main-title-conference-display {
  max-width: 1200px;
  margin: 0 auto;
}

.main-title-conference-top-left {
  float: left;
  margin: 14px 0;
}

.main-title-conference-top-right {
  float: right;
  margin: 22px 0;
}

 /** Main Conference Header image Bar CSS **/
#main-title-conference-image-wrapper {
  position: relative;
  background-image: url("https://www.metastasis-research-conferences.org/sites/default/files/patterns/pattern_1.jpg");
  /*z-index: 9;*/
  height: 195px;
}

#main-title-conference-image-display {
  margin: 0 auto;
}

.main-title-conference-image-top-left {
  float: left;
  margin: 14px 0;
}

.main-title-conference-image-top-right {
  float: right;
  margin: 22px 0;
}

#main-title-mc-conference-image-wrapper {
  position: relative;
  background-image: url("https://www.metastasis-research-conferences.org/sites/default/files/patterns/pattern_2.jpg");
  /*z-index: 9;*/
  height: 195px;
}

#main-title-mc-conference-image-display {
  margin: 0 auto;
}

.main-title-mc-conference-image-top-left {
  float: left;
  margin: 14px 0;
}

.main-title-mc-conference-image-top-right {
  float: right;
  margin: 22px 0;
}



/*Conference Footer Section*/
.footer-mbc-section-image {
	position: relative;
    background-image: url("https://www.metastasis-research-conferences.org/sites/default/files/patterns/pattern_1.jpg");
    height: 50px;
}
.row-mbc-section-full {
    max-width: 100%;
}
.footer--mbc-section-full {
    clear: both;
    margin-top: -110px;
    min-height: 110px;
    position: absolute;
    width: 100%;
	}
	
.footer-mc-section-image {
	position: relative;
    background-image: url("https://www.metastasis-research-conferences.org/sites/default/files/patterns/pattern_2.jpg");
    height: 50px;
}
.row-mc-section-full {
    max-width: 100%;
}
.footer--mc-section-full {
    clear: both;
    margin-top: -110px;
    min-height: 110px;
    position: absolute;
    width: 100%;
	}